@mixin centered{
	display: grid;
	place-items: center;
}

@mixin darken{
	background: linear-gradient(180deg, white 0%, rgba(0,0,0,0.1) 100%);
}

@mixin text-shadow {
	text-shadow: 0px 4px 4px rgba(0,0,0,0.5);
}

@mixin box-shadow {
	box-shadow: 0px 5px 11px rgba(0,0,0,0.2);
}

@mixin rounded {
	border-radius: 10px;
}