@import './utils/utils';

*{ box-sizing: border-box; }

body {
	padding: 0; margin: 0;
  background: linear-gradient(180deg, #FAF8F9 0%,#F0EFF0 100%);
	font-family: 'Roboto', sans-serif;
}

.vue{ 
	position: relative;

	&:not(#splash){
		.content{
			padding-top: 50px;
		}

		
	} 

	.content, .background{
		.gradient {
			@include darken();
			height: 100%;
		}
	}
	
	.content{
		margin: auto; padding: 15px;
		max-width: 1000px; min-height: 100vh;
		position: relative;

		.retour {
			position: absolute;
			top: 30px;
		}
		
		.background,.gardient,.content{
			position: absolute;
			inset: 0;
		}
	}
	
	&#splash {
		.content { 
			@include centered();
			position: absolute!important;
			inset: 0;
		}
		span {
				position: absolute;
				bottom: 100px;
				left:0; right: 0;
				text-align: center;
				@include text-shadow;
			}
	}

	&#accueil{
		.btn-filtre-annuaire {
			margin: 25px 0;
			height: 121px;
			overflow: hidden;
			color: white;
			position: relative;
			display: flex;
			flex-direction: column-reverse;
			@include box-shadow();
			@include rounded();
			.titre_app{
				position: absolute;
				left: 20px;
				@include text-shadow();
			}
		}
	}
}

[class^="vignette"]{
	@include rounded();
}

.vignette {
	$taille: 70px;
	height: $taille; width: $taille;
}

.vignette-medium {
	$taille: 75px;
	height: $taille; width: $taille;
}

.vignette-small{
	$taille: 50px;
	height: $taille; width: $taille;
}

input[type="text"] {
	border: 0px transparent;
	height : 57px;
	width: 100%;
	padding-left: 15px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	border-radius: 5px;
}



.titre_app {
	font-size: 36px;
	padding: 21px 0;
}

.select_slider{
	padding: 20px 0;
	.restaurant_type{
		width: 100px;
		*{margin: auto;}
		div{@include centered();}
		p{
			text-align: center;
			padding-top: 5px;
		}
	}
}

.liste_restaurants{
	padding-top: 20px;
	.case_restaurant{
		padding: 10px;
		display: flex;
		align-items: center;
		.adresse{
			padding-left: 20px;
		}
	}
}

.text-important{
	font-weight: 700;
}

.case_restaurant:not(:last-of-type), .menu_deroulant .bandeau_choix{
	border-bottom: 1px solid $pale-secondary;
}

.bandeau_choix {
	display: flex;
	justify-content: space-between;
	padding: 5px 15px;
	p{
		margin: 0%;
	}
}

.menu_deroulant .liste_restaurants, .menu_deroulant .case_restaurant:first-of-type:hover{
	box-shadow: 1px 10px 5px 0px rgba(0,0,0,0.1) inset;
	background-color: white;
}

.menu_deroulant	{
	position: absolute;
	left: 0; right: 0;
	.liste_restaurants{
		padding: 0;
	}

	.bandeau_choix:hover{
		background-color: #c4c4c450;
	}

	.case_restaurant:hover{
		background-color: #F8F9FD!important;
	}
}

.case_restaurant:hover{
	background-color: #c4c4c450;
}

#template_page_admin {
	display: grid;
	grid-template-columns: auto 1fr;
	height: 100vh;
	overflow-y: scroll;
	


	nav {
		width: 300px;
		height: 100vh;
		display: grid;
		grid-template-rows: auto 1fr;
		font-weight: bold;
		text-transform: uppercase;
		
		> section{
			display: grid;
			place-items: center;
		}

		&.bg-dark {
			.title, .link.active {
				color: $pale-secondary;
			}
		}


		.link, .title { 
			text-align: center;
			color: $main; 
		}

		.menu {
			margin: 10px;
			width: 80%;
			.link {
				padding: 5px 20px;
				&.active {
					background-color: #00000052;
				}
			}
		}

	}
	main {
		padding: 1em 4em;
		.section {
			background: linear-gradient(180deg, #FAF8F9 0%, #F0EFF0 100%);
	
			border: 1px solid #BDBDBD;
			box-sizing: border-box;
			padding: 20px;
			margin: 1em;
			
			@include rounded();
		}
	}
}

.button-dark, .button-red {
	width: 179px; height: 50px;

	border-radius: 8px;
	color: white;

	display: grid;
	place-items: center;

	font-weight: bold;
	text-transform: uppercase;
	margin: 1em;
}

.button-dark {
	border: 2px solid $dark;
	background-color: $dark;
}

.button-red {
	border: 2px solid #EB5757;
	background-color: #EB5757;
} 

.form-group {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
	.label-right {
		text-align: right;
	}
}

label{
	margin-left : 10px; 
	margin-right: 10px; 
	margin-bottom: 5px;
	width: 100%;
}

input {
	margin-top: 5px;
	height: 52px;
	border-radius: 5px;
	background: #FFFFFF;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.etiquete {
	margin: 2em;
	position: relative;
	width :131px;
	img {
		@include rounded();
		width: 100%;
		background-color: $secondary;
		overflow: hidden;
		height :83px;
	}
}

.description { 
	grid-template-columns: 1fr auto;
	padding-left: 15px;
	padding-top: 5px;

}

.edit-menu-link {

	position: absolute;
	top: -2px;
	right: 5px;
}

.etiquete-h {
	margin: 2em;
	position: relative;
	width: 250px;
	display: grid;
	grid-template-columns: auto 1fr;
	img{
		background-color: $secondary;
		overflow: hidden;
		height: 70px;
		width: 70px;
		border-radius: 5px;
	}
	.description {
		padding-right: 20px;
	}

}

.portrait {
	border-radius: 50%;
	background: linear-gradient(156.11deg, #C4E759 12.5%, #6DE195 100%);
	&.edition { height: 146px; width: 146px; }
	&.display { height: 60px ; width:  60px; }
}